:root {
    --input-width: 400px;
    --input-border-radius: 10px;
}

::-webkit-scrollbar {
    width: 4px;
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    background-color: rgb(40, 40, 40);
    color: white;
    width: var(--input-width);
    height: 40px;
    font-size: 15px;
    text-align: center;
    border: 2px solid rgb(60, 60, 60);
    border-radius: var(--input-border-radius);
    outline: none;
    transition: ease-in-out 0.1s;
}

.input:focus {
    border: 2px solid rgb(100, 100, 100);
}

.suggestions {
    position: absolute;
    width: var(--input-width);
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
    margin: 60px;
    border-radius: var(--input-border-radius);
}

.suggestion {
    background-color: rgb(40, 40, 40);
    padding: 10px 0;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    transition: background-color ease-in-out 0.1s;
}

.suggestion:hover {
    background-color: rgb(60, 60, 60);
}