:root {
    --suggestion-border-radius: 10px;
}

.input {
    background-color: rgb(40, 40, 40);
    color: white;
    width: 400px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    border: 2px solid rgb(60, 60, 60);
    border-radius: 10px;
    outline: none;
    transition: ease-in-out 0.1s;
}

.input:focus {
    border: 2px solid rgb(100, 100, 100);
}

.suggestions {
    height: 0;
    padding: 0;
    margin: 10px;
}

.suggestion {
    background-color: rgb(40, 40, 40);
    width: 100%;
    padding: 10px 0;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
}

.suggestion:first-child {
    border-top-left-radius: var(--suggestion-border-radius);
    border-top-right-radius: var(--suggestion-border-radius);
}

.suggestion:last-child {
    border-bottom-left-radius: var(--suggestion-border-radius);
    border-bottom-right-radius: var(--suggestion-border-radius);
}